.formulario-as{
    height: auto;
    idth: 100%;
    background: rgba(255, 248, 248, 0.1);
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(255 255 255 / 50%);
    backdrop-filter: blur(3px);
}
.form-control{
    background: rgba(0, 0, 0, 0.3);
    border-style: none;
    transition: 0.5 ease-in;
    outline: none;
    box-shadow: none;

}
.form-control:focus{
    background: none;
    box-shadow: none;
    outline: none;
}
.form-control::placeholder{
    color: rgb(77, 255, 255);


}

.fecha{
    text-align: right;
}
.guardar{
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 700!important;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.452);

}
.guardar:hover{
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}
.containerAs{

    width: 100%;
}
.formulario{
    width: 100%;
    background: rgba(255, 248, 248, 0.1);
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5) ;
    backdrop-filter: blur(3px) ;
}
.form-control{
    background: rgba(0, 0, 0, 0.3);
    border-style: none;
    transition: 0.5 ease-in;
    outline: none;
    box-shadow: none;
}
.form-control:focus{
    background: none;
    box-shadow: none;
    outline: none;
}