
.forbienvenida{
	height: auto;
	width: 700px;
	background: rgba(255, 255, 255, 0.1);
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
}
.mensaje{
	width: 650px;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.3);
}
.form-control{
	border-radius: 0.3rem;
	background-color: rgba(0, 0, 0, 0.3);
	width: 600px;
	height: 43px;
	color: #fff;
}

.form-control::placeholder{
	color: cyan;
}