.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
	top: 0;
	left: 0;
}
.contentConstanciaT{
	height: 500px;
	width: 900px;
	background: rgba(255, 255, 255, 0.1);
	margin-top: 120px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
	margin-left: 200px;
}
.titleConst{
	margin-top: 10px;
	color: white;
}
.form-inline{
	margin-left: 140px;
}
.tableConstT{
	width: 90%;
	height: 20%;
	border-radius: 0.5rem;
	color: #fff;
	margin-top: 35px;
	margin-left: 20px;
	text-align: center;
}
.btnBuscarConCon{
	margin-top: 10px;
	width: 150px;
	height: 35px;
	border-radius: 0.5rem;
	background-color: transparent;
	color: white;
}
.btnVerCont{
	width: 150px;
	height: 45px;
	border-radius: 0.5rem;
	background-color: transparent;
	color: white;
}