
.contentReins-ConstanciaDatos{
	height: 600px;
	width: 850px;
	margin-top: 20px;
	margin-right:220px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
}

.contentReins .form-control{
	border-radius: 0.4rem;
	background-color: rgba(0, 0, 0, 0.4)
}
.tableFac{
	width: 90%;
	height: 20%;
	border-radius: 0.5rem;
	color: #fff;
	margin-top: 15px;
	margin-left: 20px;
	text-align: center;
}
.btnDelete{
	background-color: transparent;
	border-radius: 0.4rem;
	border: 1px solid rgb(255, 0, 0);
	width: 50px;
	height: 50px;
	background-image: url('../assets/imgs/eliminar.png');
	background-repeat: no-repeat;
}
.btnContReins2{
	margin-left: 600px;
	margin-top: 20px;
	width: 170px;
	border-radius: 0.4rem;

}
.contentReins{
	margin-left: 250px;
	height: 610px;
	width: 800px;
	background: rgba(255, 255, 255, 0.1);
	margin-top: 30px;
	border-radius: 5px;
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
}

.contentReins .form-control{
	border-radius: 0.4rem;
	background-color: rgba(0, 0, 0, 0.4)
}
