
.contentFactReins{
	height: 500px;
	width: 900px;
	background: rgba(255, 255, 255, 0.1);
	margin-top: 100px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
}
.contentFactReins .titleCarga{
	margin-top: 10px;
}
.form-inline{
	margin-left: 140px;
}
.tableFac{
	width: 90%;
	height: 20%;
	border-radius: 0.5rem;
	color: #fff;
	margin-top: 15px;
	margin-left: 20px;
	text-align: center;
}