
.cont-checks{
  margin: 350px;
  height: 500px;
  width: 600px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 70px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
}
.cont-checks .form-check{
  margin-top: 10px;
  margin-left: 15px;
}
.btnInscribir{
  width: 300px;
  height: 50px;
  margin-left: 130px;
  margin-top: 170px;
  border-radius: 0.5rem;
}