@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat Alternates', sans-serif;
}

body {
	background-image: url(tesji.jpg);
	background-size: 100vw 100vh;
	background-repeat: repeat;
}

.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
	top: 0;
	left: 0;
}
.mensaje{
	width: 600px;
	height: 150px;
	margin-top: 10px;
	margin-left: 35px;
    background: rgba(0, 0, 0, 0.4);
	width: 590px;
}

.forbienvenida{
	margin-top: 20px;
	margin-left: 290px;
	height: 500px;
	width: 700px;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
}