
.mensaje{
	width: 600px;
	height: 150px;
	margin-top: 10px;
	margin-left: 35px;
    background: rgba(0, 0, 0, 0.4);
	width: 590px;
}

.forbienvenida{
	margin-top: 20px;
	height: 500px;
	width: 700px;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
}