.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
	top: 0;
	left: 0;
}
.contentFactReinsAl{
  height:auto;
  width: 600px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 10px !important;
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
}
.contentFactReins .titleCarga{
  margin-top: 10px;
}
.form-group-factRAl {
  margin-left: 30px;
}
.textNC{
  margin-top: 1px;
  color: white;
}
.textTotalFR{
  margin-left: 335px;
  margin-top: 1px;
  color: white;
}
.format-control{
  background-color: rgba(255, 255, 255, 0.1);
  width: 350px;
  height: 40px;
  border-radius: 0.5rem;
}
.btnComboCar{
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.btnAddAl{
  background-color: transparent;
  border-radius: 0.4rem;
  color: #fff;
  border: 1px solid rgb(0, 162, 255);
  align-items: flex-end;
  width: 100px;
  height: 35px;
  margin-left: 425px;
}
.tableReAl{
  width: 90%;
  height: 20%;
  border-radius: 0.5rem;
  color: #fff;
  margin-top: 7px;
  margin-left: 20px;
  text-align: center;
}
.btnDelete{
  background-color: transparent;
  border-radius: 0.4rem;
  border: 1px solid rgb(255, 0, 0);
  width: 50px;
  height: 50px;
  background-image: url('../assets/imgs/eliminar.png');
  background-repeat: no-repeat;
}
.btnFactsAAl{
  border-radius: 0.5rem;
  height: 40px;
  width: 150px;
  margin-left: 100px;
  background-color: transparent;
  color: white;
}
.btnFactsABAl{
  border-radius: 0.5rem;
  height: 40px;
  width: 150px;
  margin-left: 100px;
  background-color: transparent;
  color: white;
}
