.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
	top: 0;
	left: 0;
}
.materias{
  margin: 250px;
  height: auto;
  width: 750px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
}

.mate{
  margin-top: 5px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.btngru{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700!important;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.252);
  width: 200px;
  height: 150px;

}
.btngru:hover{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  cursor: pointer;
}
@media only screen and (max-width: 1718px) {
	
	.materias{
		margin: 250px;
		height: 650px;
		width: 750px;
		background: rgba(255, 255, 255, 0.1);
		margin-top: 70px;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(3px);
		margin-left: 400px;
	}
	
	
}
@media only screen and (max-width: 1443px) {
	
	.materias{
		margin: 250px;
		height: 650px;
		width: 750px;
		background: rgba(255, 255, 255, 0.1);
		margin-top: 70px;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(3px);
		margin-left: 300px;
	}
	
}
@media only screen and (max-width: 1243px) {
	
	.materias{
		margin: 250px;
		height: 650px;
		width: 750px;
		background: rgba(255, 255, 255, 0.1);
		margin-top: 70px;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(3px);
		margin-left: 150px;
	}
	
}
@media only screen and (max-width: 1026px) {
	
	.materias{
		margin: 250px;
		height: 650px;
		width: 750px;
		background: rgba(255, 255, 255, 0.1);
		margin-top: 70px;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(3px);
		margin-left: 100px;
	}
	
}