header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container-main {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  color: rgb(156, 202, 142);
  margin-left: 10px;

}

.container .btn-menu,
.logo {
  float: left;
  line-height: 100px;
}

.container .btn-menu label {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.logo {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  margin-left: 10px;
  margin-top: 15px;
  padding-left: 1rem;
}

.container .menu {
  float: right;
  line-height: 100px;
  color: #fff;
}

.container .menu a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}

.container .menu a:hover {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}

.text-center {
  text-align: center;
}
