.ContentHorariosJefes{
  margin-left: 290px;
  height: 500px;
  width: 700px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
}
.textHJ{
  color: #fff;
  margin-left: 80px;
}
.form-control{
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 43px;
  margin-top: 10px;
  color: #fff;
}
.borderh{
  height: 300px;
  width: 300px;
}
.descargaHA{
  margin-left: 150px;
  width: 350px;
  height: 200px;
}
.btnHA{
  margin-top: 50px;
  margin-left: 70px;
}