.menu2{
  margin-top: 50px;
  margin-left: 50px;
}
.contTablaDatos{

  height: 500px;
  width: 900px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 70px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
}
.form-inline{
  margin-left: 140px;
}
.form-control{
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 43px;
  margin-top: 10px;
  color: #fff;
}
.textoAd{
  color: #fff;
  margin-top: 20px;
  margin-left: 110px;
}
.table{
  color: #fff;
  border-radius: 0.5rem;
  margin-top: 15px;
  margin-left: 1px;
  margin-bottom: auto;
  table-layout: auto;
}
.btnEdit{
  background-color: transparent;
  border: 1px solid rgb(74, 228, 86);
  width: 50px;
  height: 50px;
  background-image: url('../assets/imgs/edit.png');
  background-repeat: no-repeat;
}