.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
	top: 0;
	left: 0;
}
.menuTableAspirantes{
  margin-top: 50px;
  margin-left: 50px;
}
.contTablaDatosInscripcion{
  height: auto;
  width: 900px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 120px;
  margin-left: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
}
.h1{
  color: white;
  
}
.form-inline{
  margin-left: 140px;
}
.form-control{
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 43px;
  margin-top: 10px;
  color: #fff;
}
.textoAd{
  color: #fff;
  margin-top: 20px;
  margin-left: 110px;
}
.tableAspirantes{
  width: 100%;
  height: 100px;
  color: #fff;
  border-radius: 0.5rem;
  margin-top: 15px;
  margin-left: 1px;
  text-align: center;
  margin-bottom: auto;
  table-layout: auto;
}
.btnEdit{
  background-color: transparent;
  border: 1px solid rgb(74, 228, 86);
  width: 50px;
  height: 50px;
  background-image: url('../assets/imgs/edit.png');
  background-repeat: no-repeat;
}
.btnBuscarAspirante{
  width: 150px;
  height: 35px; 
  margin-top: 10px;
  margin-left: 25px;
  border-radius: 0.5rem;
  background-color: transparent;
  color: white;
}