.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
	top: 0;
	left: 0;
}
.container{
	margin-bottom: 100px !important;
}
.btn{
    margin-left: 80px;
}
.form-group1{
    margin-left: 5px;
}
.btnIngresarLogin{
	margin-top: 20px;
	margin-left: 30px;
	background-color: transparent;
}

// .formulario-as{
//     margin-top: 1px !important;
// }