.docenttes{
    margin-top: 15px;
	height: 480px;
	width: 730px;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
}
.form-docentes{
	width: 310px; 
	height: 35px;
	background: rgba(0, 0, 0, 0.3);
	color:white;
	margin-left: 25px;
}
h5{
    margin-top: 5px; 
    color: white;
    margin-left: 20px;
}
.btnDocenA{
	border-radius: 0.5rem;
	height: 40px;
	width: 150px;
	margin-left: 120px;
    color: white;
	background-color: transparent;
}
.btnDocenAB{
	background-color: transparent;
	border-radius: 0.5rem;
	height: 40px;
	width: 150px;
	margin-left: 150px;
    color: white;
}
.cmbDocen{
	background-color: rgba(0, 0, 0, 0.5); 
	color: white; 
	height: 30px; 
	width: 620px; 
	margin-left: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.docenttes{
		margin-top: 30px;
		margin-left: 30px;
		height: 600px;
		width: 700px;
		background: rgba(255, 255, 255, 0.1);
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(3px);
	}
	.form-docentes{
		width: 300px; 
		background: rgba(0, 0, 0, 0.3);
		color:white;
		margin-left: 20px;
	}
	h5{
		margin-top: 5px; 
		color: white;
		margin-left: 20px;
	}
	.btnDocenA{
		border-radius: 0.5rem;
		height: 40px;
		width: 150px;
		margin-left: 120px;
		color: white;
		background-color: transparent;
	}
	.btnDocenAB{
		background-color: transparent;
		border-radius: 0.5rem;
		height: 40px;
		width: 150px;
		margin-left: 150px;
		color: white;
	}
	.cmbDocen{
		background-color: rgba(0, 0, 0, 0.5); 
		color: white; 
		height: 30px; 
		width: 620px; 
		margin-left: 20px;
	}
}
@media screen and (max-width: 767px) {
	.docenttes{
		margin-top: 30px;
		margin-left: 50px;
		height: 600px;
		width: 500px;
		background: rgba(255, 255, 255, 0.1);
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(3px);
	}
	.form-docentes{
		width: 200px; 
		background: rgba(0, 0, 0, 0.3);
		color:white;
		margin-left: 20px;
	}
	h5{
		margin-top: 5px; 
		color: white;
		margin-left: 20px;
	}
	.btnDocenA{
		border-radius: 0.5rem;
		height: 40px;
		width: 150px;
		margin-left: 45px;
		color: white;
		background-color: transparent;
	}
	.btnDocenAB{
		background-color: transparent;
		border-radius: 0.5rem;
		height: 40px;
		width: 150px;
		margin-left: 100px;
		color: white;
	}
	.cmbDocen{
		background-color: rgba(0, 0, 0, 0.5); 
		color: white; 
		height: 30px; 
		width: 420px; 
		margin-left: 20px;
	}
}