/*Menù lateral*/
.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
	top: 0;
	left: 0;
}
#btn-menu {
  display: none;
}

.container-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-menu:checked~.container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #1c1c1c;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
  transform: translateX(0%);
}

.cont-menu nav {
  transform: translateY(15%);
}

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/*Fin de Menù lateral*/
/*FORMULARIO ASPIRANTES*/
.form-control{
  background: rgba(0, 0, 0, 0.3);
  border-style: none;
  transition: 0.5 ease-in;
  outline: none;
  box-shadow: none;

}
.form-control:focus{
  background: none;
  box-shadow: none;
  outline: none;
}
.form-control::placeholder{
  color: rgb(244, 248, 248);


}
.guardar{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: 700!important;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.452);

}
.guardar:hover{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  cursor: pointer;
}
.containerAs{
  width: 1300px;
}
.formulario{
  background: rgba(255, 248, 248, 0.1);
  margin-top: 70px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.63) ;
  backdrop-filter: blur(3px) ;
}
.form-control{
  background: rgba(0, 0, 0, 0.3);
  border-style: none;
  transition: 0.5 ease-in;
  outline: none;
  box-shadow: none;
}
.form-control:focus{
  background: none;
  box-shadow: none;
  outline: none;
}

/*FIN FORMULARIO ASPIRANTES*/
.barbutton{
  margin-top: 200px;
  background: rgba(255, 248, 248, 0.1);
  width: auto;
  height: 600px;
}

/*MENSAJE*/
.mensaje{
  margin-top: 250px;
  margin-left: 550px;
  background: rgba(0, 0, 0, 0.4);
  width: 590px;
}

/*FIN MENSAJE*/

/*Factura*/

.factura{
  margin-top: 100px;
}
.mensajefac{
  margin-top: 50px;
  margin-left: 550px;
  background: rgba(0, 0, 0, 0.4);
  width: 590px;
  /*height: 200px;*/

}
.btnfin{
  margin-left: 650px;
}
.btnsub{
  margin-left: 650px;

}
/*fin Factura*/

.btnMenu{
  border: solid 0.5px rgb(1, 238, 255);
  width: 250px;
  height: 35px;
}

.btnM{
  margin-top: 1px;
  width: 100%;
  height: 100%;

}
