
.constancia{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: 700!important;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.452);
  width: 200px;
  height: 200px;

}
.mensaje{
  margin-top: 50px;
  height:100px;
  background: rgba(0, 0, 0, 0.6);
  width: 590px;
}
.constancia:hover{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  cursor: pointer;
}


.contTramites{
  margin: 250px;
  height: 800px;
  width: 800px;
  background: rgba(255,255,255,0.1);
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255,255,255,0.5);
  backdrop-filter: blur(3px);
}