.formE{
    margin-top: 90px;
	margin-left: 10px;
	border-bottom: 10px;
	height: auto;
	width: 800px;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
}
.consulEmpler{
	width: 800px;
}
.tableE{
	color: #fff;
	border-radius: 0.5rem;
	margin-top: 10px;
	margin-left: 1px;
	margin-bottom: auto;
	table-layout: auto;
	text-align: center;
}

.btnEditE{
	background-color: transparent;
	border: 1px solid rgb(74, 228, 86);
    border-radius: 0.4rem;
	width: 50px;
	height: 50px;
	background-image: url("../assets/imgs/edit.png");
	background-repeat: no-repeat;
}
.btnDeleteE{
	background-color: transparent;
	border-radius: 0.4rem;
	border: 1px solid rgb(255, 0, 0);
	width: 50px;
	height: 50px;
	background-image: url("../assets/imgs/eliminar.png");
	background-repeat: no-repeat;
}
.btnVistaEA{
    height: 40px;
    width: 100px;
    background-color: transparent;
    color: white;
    margin-top: 10px;
    margin-left: 200px;
    border: solid 2px rgb(0, 195, 255);
	margin-bottom: 10px;
}
.btnVistaEB{
    height: 40px;
    width: 100px;
    background-color: transparent;
    color: white;
    margin-top: 10px;
    margin-left: 200px;
    border: solid 2px rgb(0, 195, 255);
	margin-bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.formE{
		margin-top: 90px;
		margin-left: 30px;
		height: auto;
		width: 670px;
		background: rgba(255, 255, 255, 0.1);
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(3px);
	}
	.consulEmpler{
		width: 670px;
	}
	.tableE{
		width: 500px;
		color: #fff;
		border-radius: 0.5rem;
		margin-top: 30px;
		margin-left: 1px;
		table-layout: auto;
		text-align: center;
	}
	h5{
		margin-top: 5px; 
		color: white;
		margin-left: 20px;
	}
	.btnVistaEA{
		height: 40px;
		width: 100px;
		background-color: transparent;
		color: white;
		margin-top: 10px;
		margin-left: 120px;
		border: solid 2px rgb(0, 195, 255);
	}
	.btnVistaEB{
		height: 40px;
		width: 100px;
		background-color: transparent;
		color: white;
		margin-top: 10px;
		margin-left: 200px;
		border: solid 2px rgb(0, 195, 255);
	}
}
@media screen and (max-width: 767px) {
	.formE{
		margin-top: 120px;
		margin-left: 5px;
		height: auto;
		width: 660px;
		background: rgba(255, 255, 255, 0.1);
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(3px);
	}
	.consulEmpler{
		width: 660px;
	}
	h5{
		margin-top: 5px; 
		color: white;
		margin-left: 20px;
	}
	.btnVistaEA{
		height: 40px;
		width: 100px;
		background-color: transparent;
		color: white;
		margin-top: 10px;
		margin-left: 155px;
		border: solid 2px rgb(0, 195, 255);
	}
	.btnVistaEB{
		height: 40px;
		width: 100px;
		background-color: transparent;
		color: white;
		margin-top: 10px;
		margin-left: 150px;
		border: solid 2px rgb(0, 195, 255);
	}

}