.facturaPe{
    margin-top: 70px;
	margin-left: 50px;
	height: auto;
	width: 800px;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
}
.tablePeri{
	color: #fff;
	width: 900px;
	height: auto;
	border-radius: 0.5rem;
	margin-top: 30px;
	margin-left: 1px;
	margin-bottom: auto;
	table-layout: auto;
	text-align: center;
}

.btnEditPe{
	background-color: transparent;
	border: 1px solid rgb(74, 228, 86);
    border-radius: 0.4rem;
	width: 50px;
	height: 50px;
	background-image: url("../assets/imgs/edit.png");
	background-repeat: no-repeat;
}
.btnDeletePe{
	background-color: transparent;
	border-radius: 0.4rem;
	border: 1px solid rgb(255, 0, 0);
	width: 50px;
	height: 50px;
	background-image: url("../assets/imgs/eliminar.png");
	background-repeat: no-repeat;
}
.btnPerA{
    height: 40px;
	margin-left: 120px !important;
    width: 200px;
    background-color: transparent;
    color: white;
    margin-left: 300px;
    border: solid 2px rgb(0, 195, 255);
}
.btnPeB{
    height: 40px;
    width: 200px;
    background-color: transparent;
    color: white;
    margin-left: 100px;
    border: solid 2px rgb(0, 195, 255);
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.facturaPe{
		margin-top: 100px;
		margin-left: 30px ;
		height: auto;
		width: 700px;
		background: rgba(255, 255, 255, 0.1);
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(3px);
	}
	.tablePeri{
		color: #fff;
		width: 650px;
		height: auto;
		border-radius: 0.5rem;
		margin-top: 10px;
		margin-left: 1px;
		margin-bottom: auto;
		table-layout: auto;
		text-align: center;
	}
	h5{
		margin-top: 5px; 
		color: white;
		margin-left: 20px;
	}
	.btnPerA{
		margin-top: 10px;
		height: 40px;
		margin-left: 80px !important;
		width: 200px;
		background-color: transparent;
		color: white;
		margin-left: 300px;
		border: solid 2px rgb(0, 195, 255);
		margin-bottom: 10px;
	}
	.btnPeB{
		margin-bottom: 10px;
		margin-top: 10px;
		height: 40px;
		width: 200px;
		background-color: transparent;
		color: white;
		margin-left: 100px;
		border: solid 2px rgb(0, 195, 255);
	}
}
@media screen and (max-width: 967px) {
	.facturaPe{
		margin-top: 120px;
		margin-left: 20px;
		height: auto;
		width: 430px;
		background: rgba(255, 255, 255, 0.1);
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(3px);
	}
	.tablePeri{
		color: #fff;
		width: 500px;
		height: auto;
		border-radius: 0.5rem;
		margin-top: 1px !important;
		margin-left: 1px;
		margin-bottom: auto;
		table-layout: auto;
		text-align: center;
	}
	h5{
		margin-top: 5px; 
		color: white;
		margin-left: 20px;
	}
	.btnPerA{
		margin-top: 10px;
		height: 40px;
		margin-left: 10px !important;
		width: 180px;
		background-color: transparent;
		color: white;
		border: solid 2px rgb(0, 195, 255);
		margin-bottom: 20px;
	} 
	.btnPeB{
		margin-bottom: 20px;
		margin-top: 10px;
		height: 40px;
		width: 180px;
		background-color: transparent;
		color: white;
		margin-left: 10px;
		border: solid 2px rgb(0, 195, 255);
	}

}